.categories{
    display:  flex;
    justify-content: space-between;
    background-color: rgb(7, 138, 158);
    
    
}
.catButton{
    width:20%;
    height:40px;
    margin: 2px;
    font-size: large;
    border: none;
    background-color: rgb(7, 138, 158);
}
.catButton:hover{
    border: 2px solid rgb(246, 245, 245);
}